<!DOCTYPE html>
<html lang="es">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <a href="/"><img src="/img/logo.png" alt=""></a>
        <nav>
            <ul class="menu">
                <li><a href="">smartphones</a></li>
                <li><a href="">tablets</a></li>
                <li><a href="">computadoras</a></li>
            </ul>
            <ul class="user">
                <li><a href="/login">login</a></li>
                <li><a href="/register">registro</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!-- <form action="" method="GET" enctype="multipart/form-data">   
            <input type="text" name="nombre" id="nombre"> --> <!-- input permite recibir texto -->
            <!-- con el id podes hacer referencia desde un label al input, de manera q haces clic en el la el y automáticamente se pone el cursor en el input para ingresar el dato -->
            <!-- el atributo name le da un nombre a esa información - viaja como un objeto literal || siempre describiendo lo que estoy mandando-->

            <!-- <div>
                <input type="text" name="nombre">
                <span>error</span>    PARA PONER MSJ DE ERROR
            </div> -->

            <!-- <input type="password" name="password" placeholder="contraseña">
            <a>¿Olvidaste tu contraseña?</a>

            <input type="number" name="edad" id="edad" placeholder="edad">
            <div class="register"><input type="email" name="email" id="email" placeholder="email"></div>
            
            <label for="cumple">Fecha de nacimiento</label>
            <input type="date" name="cumple" id="cumple" placeholder="fecha"> -->
            <!-- <input list="Genero" name="Genero" type="text" class="form-control" placeholder="select">
            <datalist id="Genero">
                <option value="Masculino"></option>
                <option value="Femenino"></option> -->
            <!-- <textarea name="comentario" id="comentario" cols="30" rows="10"
                placeholder="Tonto el que ponga un comentario para quejarse"></textarea>

            <label for="">Genero</label>
            <select name="genero" id="genero">
                <option name="" hidden selected>seleccione su género</option>
                <option value="m">Masculino</option>
                <option value="f">Femenino</option>
            </select>

            <div>
                <label for="">River</label>
            <input type="radio" name="equipoGrande" value="river" id="river"> --> <!-- Tienen que tener distintos nombres -->
            <!-- </div>
            
            <div>
                <label for="">San Lorenzo</label>
            <input type="radio" name="equipoGrande" value="san lorenzo" id="lorenzo">
            </div>

            <div>
                <label for="">Boca</label>
            <input type="radio" name="equipoGrande" value="boca" id="boca">
            </div>
            
            <div>
                <input type="checkbox" name="hobbies" value="tenis" id="tenis">
                <label for="tenis">Tenis</label>
                <input type="checkbox" name="hobbies" value="tenis" id="futbol">
                <label for="futbol">Futbol</label>
            </div>

            <input type="checkbox" id="recordame" name="recordar">
            <label for="recordame">recordame</label>

            <label for="">Subí tu imagen de perfil</label>
            <br>
            <input type="file" name="avatar">  -->  <!-- enctype="multipart/form-data" ES IMPORTANTE ACLARAR ESTO PORQUE SINO, LA INFORMACIÓN NO VIAJA - LOS FORMULARIOS SIN ESTO, SON TEXTOS PLANOS (ARRIBA AL LADO DE "GET") || SOLO SI PONEMOS UN INPUT TIPO FILE-->

            <!-- <button type="submit">Enviar</button>
            <button type="reset">Resetear</button>
 
        </form>-->

    </main>
</body>

</html>